body{
    margin:0;
    background:#f8f2ea;
    color:#3b2a1e;
    font-family:Georgia, serif;
    text-align:center;
}

header{
    background:#5b3b2a;
    color:white;
    padding:35px;
}

header h1{
    margin:0;
    font-size:42px;
}

header p{
    margin-top:8px;
    letter-spacing:2px;
}

.hero{
    max-width:700px;
    margin:70px auto;
    padding:0 20px;
}

.hero h2{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    line-height:1.8;
    font-size:18px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:20px 40px 70px;
    flex-wrap:wrap;
}

.card{
    width:240px;
    background:white;
    padding:25px;
    border-radius:10px;
    border:1px solid #d7b899;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card h3{
    margin-top:0;
}

footer{
    background:#5b3b2a;
    color:white;
    padding:25px;
}